body {
  background-color: #f39c12;
}

div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item {
  color: #070808;
  font-size: 3rem;
  padding: 1rem;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #e56a6a;
  text-transform: uppercase;
  animation-name: text-flicker-out-glow;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes text-flicker-out-glow {
  0%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.6),0 0 60px rgba(0,0,0,.45),0 0 110px rgba(0,0,0,.25),0 0 100px rgba(0,0,0,.1);
  }
  13%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.6),0 0 60px rgba(0,0,0,.45),0 0 110px rgba(0,0,0,.25),0 0 100px rgba(0,0,0,.1);
  }
  14%{
    opacity: 0;
    text-shadow: none;
  }
  15%{
    opacity: 0;
    text-shadow: none;
  }
  16%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.4),0 0 110px rgba(0,0,0,.2),0 0 100px rgba(0,0,0,.1);
  }
  22%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.4),0 0 110px rgba(0,0,0,.2),0 0 100px rgba(0,0,0,.1);
  }
  23%{
    opacity: 0;
    text-shadow: none;
  }
  24%{
    opacity: 0;
    text-shadow: none;
  }
  25%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35),0 0 100px rgba(0,0,0,.1);
  }
  34%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35),0 0 100px rgba(0,0,0,.1);
  }
  35%{
    opacity: 0;
    text-shadow: none;
  }
  39%{
    opacity: 0;
    text-shadow: none;
  }
  40%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35);
  }
  42%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35);
  }
  43%{
    opacity: 0;
    text-shadow: none;
  }
  44%{
    opacity: 0;
    text-shadow: none;
  }
  45%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
  }
  50%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
  }
  54%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
  }
  55%{
    opacity: 0;
    text-shadow: none;
  }
  69%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
  }
  70%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
  }
  71%{
    opacity: 0;
    text-shadow: none;
  }
  78%{
    opacity: 0;
    text-shadow: none;
  }
  79%{
    opacity: 1;
    text-shadow: 0 0 30px rgba(0,0,0,.25);
  }
  80%{
    opacity: 0;
    text-shadow: none;
  }
  88%{
    opacity: 0;
    text-shadow: none;
  }
  89%{
    opacity: 1;
    text-shadow: none;
  }
  90%{
    opacity: 0;
    text-shadow: none;
  }
  100%{
    opacity: 0;
  }
}



.Game--config{
  padding: 1rem;
}

.label--button {
  color: #804d20;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 0 0 1px rgb(0, 0, 0);
}

#showNumberOfDice {
  font-weight: bold;
  font-size: 1.5rem;
}

#play {
  border: 0;
  font-weight: bold;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(254 87 9);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);


}

#play:hover {
  background-color: rgb(202, 17, 17);
}

#styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#app {
  display: flex;
}

#player {
  background-color: #f39c12;
}

#dealer {
  background-color: #e67e22;
}

.board {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.dice {
  background-image: url('/images/dice-sprite.png');
  width: 100px;
  height: 100px;
  margin: 1em;
  background-position-x: 0px;
}